body{
    background-color: #E3CCE6;
    color: #e299d0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.logo{
    width: 1262px;
    margin: auto;
}

.config{
    background-color: #D784E0;
    color: #5D3961;
    width: 80%;
}

.box{
    text-align: center;
    background-color: #D784E0;
    color:  #99307E;
}

.centralizado{
    text-align: center;
}
.tamanho{
    font-size: 24px;
}

.margem{
    margin: 80px;
}

.preenchimento{
    margin: 0;
    padding: 80px;
}

.borda{
    margin: 0;
    border: 20px solid #e299d0;
}

.link{
    text-decoration: none;
    padding: 7px;
    border-radius: 2.5px;
}

.link:hover{
    background-color: #9E2EB0 ;
    color:#742BA6;
}